body {
	font-family: 'Times New Roman';
	background-color: #F2FFFC;
	line-height: 1.5;
}

main h1{
	text-align: center;
	color: #FFF;
	background-color: #851944;
	padding: 25px;
	margin: 0px;
	border-bottom: 10px solid #000;
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 60px;
}

main h2 {
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 30px;
}

p {
	font-family: "Crimson Text", serif;
	text-align: justify;
	margin:20px 0;
}

blockquote{
   background-color: #D9E5E3;
   border:10px solid #c2ccca;
   width: 250px;
   margin: 20px 40px;
}

nav{
   background-color: #3C1D3D;
   color: #F2FFFC;
   
}

nav h1{
	font-size: 30px;
	padding: 25px;
}

footer{
	background-color: #000;
	color: #F2FFFC;
	}
	
main a {
    color: #851944;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}
main footer{
	background-color: inherit;
	color:inherit;
}

blockquote, nav, footer{
	padding: 20px;
}

main div {
	width: 720px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
}

strong {
	font-weight: bolder;
}

em {
	font-style: italic;
}